*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    height: 120px;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    border: 1px solid rgb(207, 207, 207);
}

.logo{
    display: flex;
    width: 14%;
    align-items: center;
}